.content{
    margin-top: 65px;
}

.box-content{
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    /* background-color: aqua; */
}

.header-daftar{
    text-align: center;
}

.header-daftar p{
    font-size: 20px;
}

.card-content{
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: whitesmoke;
}

.form-ppdb form{
    padding: 20px;
}

form tr th{
    padding-bottom: 10px;
    /* background-color: aqua; */
}